<head>
<title>NR v2 | Admin</title>
</head>

<link rel="stylesheet" type="text/css" href="css/style.css" />

<body>
<div id = 'superbigcontainer' onkeyup="customInput()">




  <div id='container'>

    <h1>Admin tool v1.0</h1>
    <div class = "menu">
     <button class="active"   id="fetch"        onclick="showclass('fetch')">Fetch</button>
     <button class="inactive" id="save"         onclick="showclass('save')">Save</button>
     <button class="inactive" id="preview"      onclick="showclass('preview')">Preview</button>
     <button class="inactive" id="browse"       onclick="showclass('browse')">Browse</button>
     <button class="inactive" id="raw"          onclick="showclass('raw')">Raw</button>
     <button class="inactive" id="queue"        onclick="showclass('queue')">Queue</button>

     </div>
<div class = "content">

   <!-- FETCH tab -->
   <div  class="tab visible" id = "f">

       <h4 id="json">Dataset updated at:   <%= JSON.stringify(resultObj["metadata"]["genDate"]) %>  </h4>
       <form method="post" action="/admin/refresh">
         <input type="submit" value="Get / Refresh dataset &#9935;"/>
       </form>
       <br>
     </div>



     <!--SAVE tab : -->
     <div  class="tab hidden" id = "s">
       <h4 id="json">Save with default id: <span id="current">   </span></h4>
       <p> URL (external) : <a target="_blank" href="https://newsapp-carb11.herokuapp.com/<%= date %>"/>https://newsapp-carb11.herokuapp.com/<%= date %></a><p>
       <p> URL (local) : <a target="_blank" href="localhost:5000/<%= date %>"/>localhost:5000/<%= date %></a><p>
       <form method="post" action="/admin/save/<%- date %>" >
         <input type="submit" value="Save dataset &#128190;"/>
       </form>

       <form method="post" action="" id="submitCustom" maxlength="20">
       <h4 id="json" >Save with custom id: <input type="text" name="custom" id="customInput"  text=""> </input><span id="customButton" onclick="customInput()">&#9655;</span> </h4>
       <p> URL (external) : <a id="customExtUrl" target="_blank" href="https://newsapp-carb11.herokuapp.com/"/>https://newsapp-carb11.herokuapp.com/</a><p>
       <p> URL (local) : <a id="customLocalUrl" target="_blank" href="localhost:5000/"/>localhost:5000/</a><p>
       <input type="submit" value="Save custom id &#128190;" onclick="customInput()" />
       </form>
     </div>



  <!--PREVIEW tab-->
   <div  class="tab hidden" id = "p">
     <p>Currently editing <b><span id="current-edit"></span>.json</b> (or go back to  <span class = "link" onclick= "showclass('browse')">browse</span>)</p>
     <p>Dataset generated at:  <span id="current-date"></span></p>
       <br><br>
       <span id = "out"><span>
    </div>


  <!--BROWSE tab :  -->
   <div  class="tab hidden" id = "b">
     <a href="">reload page</a>
     <p>P : preview ; E : edit ; S : suppress ; Q : add to queue<br>
     L : localhost ; E : external</p>
     <%- JSON.stringify(dirList)%>
     <ul id="viewDirs">
     </ul>
   </div>


   <!--RAW tab-->
   <div  class="tab hidden" id = "r">
     <br>
     <b>Id: <span  id="current-preview"></span> </b><br>
     <br><br>

     <p id="json-content"><%- JSON.stringify(resultObj) %><p>


    </div>

   <!--QUEUE tab-->
   <div  class="tab hidden" id = "q">
     <br>
     <form method="post" action="admin/queue-reset/" >
       <input type="submit" value="Reset queue &#9904;"/>
     </form>

   </div>




</div>


    <div id ="more">
      <div id="git">&#10087; Suivre le projet sur <a href="https://github.com/Carburator11/newsapp">Github</a></div>
      <div id="ln">&#10087; Voir mon profil <a href="https://www.linkedin.com/in/pierrevautherin/">LinkedIn</a></div>
      <div id="v1">&#10087; La v1.0 du site : <a href="http://carb11.eu/newsroom/">Newsroom</a></div>
    </div>
  </div>

  </div>
</div>
</body>





<script>




//BROWSE tab
//(couldn't move it to external js file because of strange behavior of the Express variables)
//quite ugly too with double links...
function showDirList(){

  let cur = window.location.href ;
  document.getElementById('viewDirs').innerHTML = ""; //initializing

  for (var i = 0 ; i < <%- JSON.stringify(dirList)%>.length ; i++) {
    var filename = <%- JSON.stringify(dirList)%>[i];
    var id =  filename.substring(0, (filename.length - 5));
    prevraw = function(){showclass('raw')};
    let el     =  "<li>"+ filename ;
        el    +=  "<a id='l' class='editLinks' href='"+ cur +"/preview/"+ id +"' onclick= 'preview("+ JSON.stringify(id) +")'>prev</span></a>";
        el    +=  "<a id='l' class='editLinks' href='"+ cur +"/previewraw/"+ id +"' onclick= 'previewRaw("+ JSON.stringify(id) +")'>raw</span></a>";
        el    +=  "<a id='l' class='editLinks' href='"+ cur + "/suppr/" + id +"'>suppr</a>";
        el    +=  "<a id='l' class='editLinks' href='"+ cur + "/quieue/" + id +"'>quieue</a>";
      //el    +=  "<a id='e' class='editLinks' href='https://newsapp-carb11.herokuapp.com//admin/quieue/" + id +"'>QE</a>";
    el    +=  "</li>";
    document.getElementById('viewDirs').innerHTML += el ;
    }

}

showDirList();


currentId();

function currentId(){
  let cur = <%- JSON.stringify(resultObj.metadata) %> ;
  document.getElementById("current").innerHTML = cur.id ;
  document.getElementById("current-preview").innerHTML = cur.id ;
  document.getElementById("current-edit").innerHTML = cur.id ;
  document.getElementById("current-date").innerHTML = cur.genTime ;

}



  //EDIT TAB : display a preview based on resultObj
  function editPrevObj(out){
    let input = <%- JSON.stringify(resultObj) %>;
    let output = "";

    for(key in input.content){
      output +=  "<br><b style = ''>";
      output += key.replace(/"/g,"").toUpperCase();
      output += "</b><br><br>";
      for(var i = 0 ; i < 5 ; i++){
          let art = input.content[key]["articles"];
          output += "<div style= 'margin-left: 15px'>"
          output +=  "<b>"+ (JSON.stringify(art[i].title)).replace(/"/g,"") +"</b>";
          output +=  "<span style='font-size: 12px;color:gray'>    -  " + key + "-" + i +"</span><br>";
          output +=  "<i>by " + JSON.stringify(art[i].author).replace(/"/g,"") +"</i><br>";
          output +=  "<a href="+JSON.stringify(art[i].url).replace(/"/g,"") +">";
          output +=  "<img src="+ JSON.stringify(art[i].urlToImage).replace(/"/g,"") +" width= 'auto' height= '120px' /></a><br>";
          output +=  "<span style='font-size: 12px;color:gray'>"+JSON.stringify(art[i].publishedAt).replace(/"/g,"") +"</span>";
          output += "<br><br></div>";
          }
      }
    document.getElementById(out).innerHTML += output;
  }

editPrevObj("out");


</script>

<script src="scripts/script.js"></script>
