<head>
<title>NR v2 | Admin</title>
</head>

<link rel="stylesheet" type="text/css" href="css/style.css" />

<body>
<div id = 'superbigcontainer' onkeyup="customInput()">




  <div id='container'>

    <h1>Admin tool v1.0</h1>
    <div class = "menu">
     <button class="active"   id="create"       onclick="showclass('create')">Create</button>
     <button class="inactive" id="deploy"       onclick="showclass('deploy')">Deploy</button>
     <button class="inactive" id="preview"      onclick="showclass('preview')">Preview</button>
     <button class="inactive" id="browse"       onclick="showclass('browse')">Browse</button>
     <button class="inactive" id="edit"         onclick="showclass('edit')">Edit</button>

     </div>
   <div class = "content">

   <!-- CREATE tab :  enables to fetch and save a dataset in default/customized path-->
   <div  class="tab visible" id = "c">

       <h4 id="json">Dataset updated at: <span id='lastUpdate'>  <%= lastUpdate %>  </span></h4>
       <form method="post" action="/admin/refresh">
         <input type="submit" value="Get / Refresh dataset &#8635;"/>
       </form>
       <br>
     </div>

     <!--DEPLOY tab : -->
     <div  class="tab hidden" id = "d">
       <h4 id="json">Save with default id: <span id="current">   </span></h4>
       <p> URL (external) : <a target="_blank" href="https://newsapp-carb11.herokuapp.com/<%= date %>"/>https://newsapp-carb11.herokuapp.com/<%= date %></a><p>
       <p> URL (local) : <a target="_blank" href="localhost:5000/<%= date %>"/>localhost:5000/<%= date %></a><p>
       <form method="post" action="/admin/save/<%- date %>" >
         <input type="submit" value="Save dataset &#128190;"/>
       </form>

       <form method="post" action="" id="submitCustom" >
       <h4 id="json" >Save with custom id: <input type="text" name="custom" id="customInput"  text=""> </input><span id="customButton" onclick="customInput()">&#9655;</span> </h4>
       <p> URL (external) : <a id="customExtUrl" target="_blank" href="https://newsapp-carb11.herokuapp.com/"/>https://newsapp-carb11.herokuapp.com/</a><p>
       <p> URL (local) : <a id="customLocalUrl" target="_blank" href="localhost:5000/"/>localhost:5000/</a><p>
       <input type="submit" value="Save custom id &#128190;" />
       </form>
     </div>

  <!--PREVIEW tab-->
   <div  class="tab hidden" id = "p">
     <br>

     <b>Id: <span  id="current-preview"></span> </b><br> <!-- -1 because "headlines object" not counted as a "source" -->
     <br><br>

     <p id="json-content"><%- JSON.stringify(resultObj) %><p>

     </div>

  <!--BROWSE tab :  -->
   <div  class="tab hidden" id = "b">
     <a href="">reload page</a>
     <p>PL : preview (local) ; PE : preview (external) ; EL : edit (local) ; EE : edit (external) ; SL : suppress (local) ; SE : suppress (external)</p>
     <ul id="viewDirs">
     </ul>
   </div>

   <!--EDIT tab-->
   <div  class="tab hidden" id = "e">
    <p>Currently editing <b><span id="current-edit"></span>.json</b> (or go back to  <span class = "link" onclick= "showclass('browse')">browse</span>)</p>
    <p>Dataset generated at:  <span id="current-date"></span></p>
      <br><br>

      <b>Headlines</b> (based on resultObj)<br>
      0. <%- JSON.stringify(resultObj.metadata.headlines[0]) %><br>
      1. <%- JSON.stringify(resultObj.metadata.headlines[1]) %><br>
      2. <%- JSON.stringify(resultObj.metadata.headlines[2]) %><br>
      <br>
      <span id = "out"><span>






   </div>




  </div>


    <div id ="more">
      <div id="git">&#10087; Suivre le projet sur <a href="https://github.com/Carburator11/newsapp">Github</a></div>
      <div id="ln">&#10087; Voir mon profil <a href="https://www.linkedin.com/in/pierrevautherin/">LinkedIn</a></div>
      <div id="v1">&#10087; La v1.0 du site : <a href="http://carb11.eu/newsroom/">Newsroom</a></div>
    </div>
  </div>

  </div>
</div>
</body>





<script>




//this function populates the BROWSE tab
//couldn't move it to external js file because of strange behavior of the Express variables
function showDirList(){
  document.getElementById('viewDirs').innerHTML = ""; //initializing
  for (var i = 0 ; i < <%- JSON.stringify(dirList)%>.length ; i++) {
    var filename = <%- JSON.stringify(dirList)%>[i];
    var id =  filename.substring(0, (filename.length - 5));
    var el = "<li>" + filename ;
    el    +=  "<a id='editLinks' class='link' href='http://localhost:5000/admin/preview/"+ id +"' onclick= 'preview("+ JSON.stringify(id) +")'>PL</span></a>";
    el    +=  "<a id='editLinks' class='link' href='https://newsapp-carb11.herokuapp.com/admin/preview/"+ id +"' onclick= 'preview("+ JSON.stringify(id) +")'>PE</span></a>";
    el    +=  "<a id='editLinks' class='link' href='http://localhost:5000/admin/edit/"+ id +"' onclick= 'edit("+ JSON.stringify(id) +")'>EL</span></a>";
    el    +=  "<a id='editLinks' class='link' href='https://newsapp-carb11.herokuapp.com/admin/edit/"+ id +"' onclick= 'edit("+ JSON.stringify(id) +")'>EE</span></a>";
    el    +=  "<a id='editLinks' class='link' href='http://localhost:5000/admin/suppr/"+ id +"'>SL</a>";
    el    +=  "<a id='editLinks' class='link' href='https://newsapp-carb11.herokuapp.com/admin/suppr/"+ id +"'>SE</a>";
    el    +=  "</li>";
    document.getElementById('viewDirs').innerHTML += el ;
      }

}

showDirList();


currentId();

function currentId(){
  let cur = <%- JSON.stringify(resultArray) %> ;
  document.getElementById("current").innerHTML = cur[0].id ;
  document.getElementById("current-preview").innerHTML = cur[0].id ;
  document.getElementById("current-edit").innerHTML = cur[0].id ;
  document.getElementById("current-date").innerHTML = cur[0].genTime ;
  //alert("currentId: " + typeof(cur[0].id) + ".. " + cur[0].id);

}


//display a preview based on resultArray
function editPrev(src, out){
  let input = <%- JSON.stringify(resultArray) %>;
  let output = "";
  let datasetSource = JSON.stringify(input[src].source).replace(/"/g,"");


  output +=  "<br><b style = ''>";
  output += datasetSource.replace(/"/g,"").toUpperCase();
  output += "</b><br><br>";

  for(var i = 0 ; i < 5 ; i++){
      output += "<div style= 'margin-left: 15px'>"
      output +=  "<b>"+JSON.stringify(input[src].articles[i].title).replace(/"/g,"") +"</b>";
      output +=  "<span style='font-size: 12px;color:gray'>    -  " + datasetSource + "-" + i +"</span><br>";
      output +=  "<i>by " + JSON.stringify(input[src].articles[i].author).replace(/"/g,"") +"</i><br>";
      output +=  "<a href="+JSON.stringify(input[src].articles[i].url).replace(/"/g,"") +">";
      output +=  "<img src="+ JSON.stringify(input[src].articles[i].urlToImage).replace(/"/g,"") +" width= 'auto' height= '120px' /></a><br>";
      output +=  "<span style='font-size: 12px;color:gray'>"+JSON.stringify(input[src].articles[i].publishedAt).replace(/"/g,"") +"</span>";
      output += "<br><br></div>";
      }

  document.getElementById(out).innerHTML += output;
}


  //for(var i = 1 ; i < 5 ; i++){
  //    editPrev(i, "out");
  //}

  //display a preview based on resultArray
  function editPrevObj(out){
    let input = <%- JSON.stringify(resultObj) %>;
    let output = "";

    for(key in input.content){
      output +=  "<br><b style = ''>";
      output += key.replace(/"/g,"").toUpperCase();
      output += "</b><br><br>";
      

          }




    document.getElementById(out).innerHTML += output;
  }

editPrevObj("out");


</script>

<script src="scripts/script.js"></script>
