<head>
<title>NR~<%- id
   %></title>
</head>

<%
 var head1src = object.metadata.headlines.head1.src ;
 var head1num = object.metadata.headlines.head1.art ;
 var head2src = object.metadata.headlines.head2.src ;
 var head2num = object.metadata.headlines.head2.art ;
 var head3src = object.metadata.headlines.head3.src ;
 var head3num = object.metadata.headlines.head3.art ;
 var toto = "glutt"; var fr = "";


 %>

URL de cette page : <a target="_blank" href='https://newsapp-carb11.herokuapp.com/<%= id %>'>https://newsapp-carb11.herokuapp.com/<%= id %></a>
<br>
URL de cette page en local : <a target="_blank" href='http://localhost:5000/<%= id %>'>http://localhost:5000/<%= id %></a>
<br>
<br>
Dataset généré à : <%= JSON.stringify(object.metadata.genTime) %>
<br>
<br>
<p>Headlines:</p>
<br>
<br><%- JSON.stringify( object.content[head1src].articles[head1num] ) %>
<br>
<br><%- JSON.stringify( object.content[head2src].articles[head2num] ) %>
<br>
<br><%- JSON.stringify( object.content[head3src].articles[head3num] ) %>
<br>
<br>
<br>
<br>
<br>
<br><%- JSON.stringify( object.content.cnn.articles[0] ) %>




<script>




</script>
