<head>
<title>NR~<%- id
   %></title>
</head>



URL de cette page : <a target="_blank" href='https://newsapp-carb11.herokuapp.com/<%= id %>'>https://newsapp-carb11.herokuapp.com/<%= id %></a>
<br>
URL de cette page en local : <a target="_blank" href='http://localhost:5000/<%= id %>'>http://localhost:5000/<%= id %></a>

<br>
<p><%= object[0].articles[0].title %></p>

<p><%= object[1].articles[0].title %></p>

<p><%= object[2].articles[0].title %></p>

<p><%= object[3].articles[0].title %></p>

<p><%= object[4].articles[0].title %></p>
